<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="descriptions" content="Hello world">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/meta.css">
</head>
<body>
    <h1>Meta Tag</h1>
    <div class="container">
        <form action="/meta/get-metatag-content" method="POST">
            <div id="url">
                <label for="Url">Enter Url</label>
                <input type="text" placeholder="Enter the Url" name="url"></input>
            </div>
            <div id="mettag">
                <label for="MetaTag">Enter MetaTag</label>
                <input type="text" placeholder="Enter the meta tag name" name="metatag"></input>
            </div>
            <div id="submit">
                <button type="submit" class="btn btn-info" name="submit" value="Submit">Submit</button>
            </div>                      
        </form>
    </div>
</body>
</html>